<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Urenregistratie</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css">

</head>
<body>
 
  

  
 <!-- ## Urenregistratie ##--> 

<!-- namen-->
<div class="container">
  <div class="row tabelnaam">
      <div class="col-md project" style="background-color: darkgray">
          [datum]
        </div>
      <div class="col-md begin" style="background-color: darkgray">
        Begin
      </div>
      <div class="col-md eind" style="background-color: darkgray">
        Eind
      </div>
      <div class="col-md pauze" style="background-color: darkgray">
        Pauze
      </div>
      <div class="col-md status" style="background-color: darkgray">
          Status
        </div>
      <div class="col-md opslaan" style="background-color: darkgray">
        Opslaan
      </div>
    </div>

<!-- inputvelden-->
    <div class="row inputvelden">
        <div class="col-md project-select" style="background-color: rgb(236, 236, 236)">
            <select>
              <option value="1">Project 1</option>
              <option value="2">Project 2</option>
              <option value="3">Project 3</option>
            </select>
        </div>
        <div class="col-md begin-input" style="background-color: rgb(236, 236, 236)">
            <input class="time" type="text" placeholder="Begin"></input>
        </div>
        <div class="col-md eind-input" style="background-color: rgb(236, 236, 236)">
            <input class="time" type="text" placeholder="Eind"></input>
        </div>
        <div class="col-md pauze-input" style="background-color: rgb(236, 236, 236)">
            <input type="text" placeholder="Minuten"></input>
        </div>
        <div class="col-md status-label" style="background-color: rgb(236, 236, 236)">
            <label class="goedkeuring">Goedgekeurd</label>
        </div>
        <div class="col-md opslaan-button" style="background-color: rgb(236, 236, 236)">
            <button>Opslaan</button>
        </div>
      </div>
</div>



<!--JS scripts-->
<script src="main.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>